{% extends 'base.html'%}

{% block title %}
   Scan - Page
{% endblock title %}


{% block content %}
<center>
<div class="container justify-content-center mt-5">
<h2>Scan QR to Mark Attendance</h2>
<div id="reader" style="width:300px"></div>
<p id="result"></p>

<script src="https://unpkg.com/html5-qrcode"></script>
<script>
function onScanSuccess(decodedText) {
    // decodedText will be the URL from QR: /attend/<uuid>/
    document.getElementById('result').innerText = "Marking attendance...";
    
    fetch(decodedText, {method: 'GET', credentials: 'include'})
    .then(r => r.text())
    .then(html => {
        document.getElementById('result').innerHTML = html;
        html5QrcodeScanner.clear(); // stop scanning after success
    });
}

let html5QrcodeScanner = new Html5QrcodeScanner(
    "reader", { fps: 10, qrbox: 250 }
);
html5QrcodeScanner.render(onScanSuccess);
</script>
</div>
</center>
{% endblock content %}