{% extends 'base.html' %}

{% block title %}
   Password - Success|Page
{% endblock title %}

{% block content %}
<div class="alert alert-success text-center mt-5">
    <h4>Password Changed Successfully ✅</h4>
    <p>Your password has been updated. You’re still logged in.</p>
    <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
</div>
 <footer class="mt-5 text-white-50 text-center bottom-0 start-0  z-0">
        <p>
          @All right reserved &copy; UDUS 2026
        </p>
  </footer>
{% endblock %}